@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <li class="nav-item px-3 d-flex align-items-center">
            <a href="authentication/profile">Hello, @context.User.Identity?.Name!</a>
        </li>
        <li class="nav-item px-3 d-flex align-items-center">
            <button class="nav-link btn btn-link mb-0" @onclick="BeginLogOut">Log out</button>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item px-3 d-flex align-items-center">
            <a class="nav-link text-body font-weight-bold px-0" href="authentication/register">Register</a>
        </li>
        <li class="nav-item px-3 d-flex align-items-center">
            <a class="nav-link text-body font-weight-bold px-0" href="authentication/login">Log in</a>
        </li>
    </NotAuthorized>
</AuthorizeView>
    
@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
