@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <div class="p-3 pb-0">
            <partial name="_StatusMessage" model="Model.StatusMessage" class="mb-0"/>
        </div>
    </div>
</div>
<div class="row d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center">
    <div class="col-lg-7">
        <div class="p-5 user">
            <a class="btn btn-primary d-block btn-user w-100" asp-page="./Login">Back to login</a>
        </div>
    </div>
</div>

