@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
    Layout = "_Layout";
}

<div class="row d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center">
    <div class="col-lg-6">
        <div class="p-5">
            <partial name="_StatusMessage" model="Model.StatusMessage" />
            <a class="btn btn-primary" asp-page="./Login">Back to login</a>
        </div>
    </div>
</div>