@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_Layout";
}

<div class="row d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center">
    <div class="col-lg-6">
        <div class="p-5">
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>
