@***
 * File: Lockout.cshtml 
 * Author: Ondřej Mahdalík (xmahda14)
*@

@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
    Layout = "_Layout";
}

<div class="row d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center">
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h4 class="text-dark mb-2">@ViewData["Title"]</h4>
                <p class="mb-4">This account has been locked out, please try again later.</p>
            </div>
        </div>
    </div>
</div>