@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
    Layout = "_Layout";
}

<div class="row d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center">
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h4 class="text-dark mb-2">@ViewData["Title"]</h4>
                <p class="mb-4">
                    You have requested to log in with a recovery code. This login will not be remembered until you provide
                    an authenticator app code at log in or disable 2FA and log in again.
                </p>
            </div>
            <form class="user" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="mb-3">
                    <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="Recovery Code" />
                    <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary d-block btn-user w-100">Log in</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}