@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "_Layout";
}

<div class="row d-xl-flex justify-content-xl-center">
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                Please check your email to confirm your account.
            </div>
        </div>
    </div>
</div>