@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "_Layout";
}

<div class="row d-xl-flex justify-content-xl-center">
    <div class="col-lg-7">
        <div class="p-5">
            @{
                <p>
                    Please check your email to confirm your account.
                </p>
            }
        </div>
    </div>
</div>