@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
    Layout = "_Layout";
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col">
        <form id="email-form" class="user" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="mb-3 input-group">
                    <input asp-for="Email" class="form-control form-control-user" placeholder="Current Email Address" disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                </div>
            }
            else
            {
                <div class="mb-3">
                    <input asp-for="Email" class="form-control form-control-user" placeholder="Current Email Address" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                </div>
            }
            <div class="mb-3">
                <input asp-for="Input.NewEmail" class="form-control form-control-user" autocomplete="email" aria-required="true" placeholder="New Email Address" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary d-block btn-user">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
