@***
 * File: PersonalData.cshtml
 * Author: Ondřej Mahdalík (xmahda14)
*@

@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <div class="row">
            <form id="download-data" class="user m-2" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-primary btn-user" type="submit">Download</button>
            </form>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-user btn-danger m-2">Delete</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
