@***
 * File: SetPassword.cshtml
 * Author: Ondřej Mahdalík (xmahda14)
*@

@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "_Layout";
}

<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>
<div class="row">
    <div class="col">
        <form id="set-password-form" class="user" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <input asp-for="Input.NewPassword" class="form-control form-control-user" autocomplete="new-password" placeholder="New Password"/>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" autocomplete="new-password" placeholder="Confirm New Password"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary d-block btn-user">Set password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
