@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TournamentManager.Common.Models
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (tournaments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tournament in tournaments)
            {
                <tr>
                    <td>@tournament.Date.ToShortDateString()</td>
                    <td>@tournament.Name</td>
                    <td>@tournament.IsPublic</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private TournamentModel[]? tournaments;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            tournaments = await Http.GetFromJsonAsync<TournamentModel[]>("Tournament");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
