@page "/users"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TournamentManager.Shared
@using TournamentManager.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Users</PageTitle>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <h1>Users</h1>
            <div class="card mb-4">
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        @if (users == null)
                        {
                            <p><em>Loading...</em></p>
                        }
                        else
                        {
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">First Name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Last Name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tournaments attending</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var user in users)
                                {
                                    <tr>
                                        <td class="align-middle text-sm">
                                            <span class="text-sm mb-0 font-weight-bold">@user.FirstName</span>
                                        </td>
                                        <td class="align-middle text-sm">
                                            <span class="text-sm mb-0 font-weight-bold">@user.LastName</span>
                                        </td>
                                        <td class="align-middle text-sm">
                                            <span class="text-sm mb-0">@user.Email</span>
                                        </td>
                                        <td class="align-middle text-sm">
                                            <span class="text-sm mb-0">@user.Tournaments.Count</span>
                                        </td>
                                        <td class="align-middle">
                                            <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">Edit</a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private UserModel[]? users;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            users = await Http.GetFromJsonAsync<UserModel[]>("User");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
