@using TournamentManager.Common.Enums

<MessageBox Message="This action cannot be undone."
            MessageType="MessageType.Warning"/>
<MessageBox Message="All personal data will be deleted."
            MessageType="MessageType.Warning"/>
<MessageBox Message="Teams led by this user will be deleted."
            MessageType="MessageType.Warning"/>
<MessageBox Message="Tournaments created by this user will remain, but will not be linked to any user."
            MessageType="MessageType.Info"/>

<div class="d-inline-flex gap-2">
    <button class="btn btn-danger" @onclick="DeleteUserAsync">Delete User</button>
    <button class="btn btn-secondary" @onclick="CancelAsync">Cancel</button>
</div>

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;
    
    private async Task CancelAsync() => await BlazoredModal.CloseAsync(ModalResult.Cancel());
    private async Task DeleteUserAsync() => await BlazoredModal.CloseAsync(ModalResult.Ok());
}