@using TournamentManager.Common.Enums

@if (Message != String.Empty)
{
<p>@Message</p>
}

<div class="d-flex justify-content-end">
    <button class="btn btn-danger text-end d-flex me-1" @onclick="CancelAsync">Cancel</button>
    <button class="btn btn-primary text-end d-flex" @onclick="ConfirmAsync">Confirm</button>
</div>

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;
    
    [Parameter]
    public string Message { get; set; } = default!;

    private async Task CancelAsync() => await BlazoredModal.CloseAsync(ModalResult.Cancel());
    private async Task ConfirmAsync() => await BlazoredModal.CloseAsync(ModalResult.Ok());
}