@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TournamentManager.Common.Models
@inject NavigationManager Navigation
@inject HttpClient Http

<nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
    <ul class="navbar-nav flex-nowrap ms-auto">
        <li class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link text-body font-weight-bold px-0" ActiveClass="active" href="Privacy-Policy">Privacy Policy</NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3 d-flex align-items-center">
                    <a class="nav-link text-body font-weight-bold px-0" href="authentication/profile">Hello, @(_userName ?? "User")!</a>
                </li>
                <li class="nav-item px-3 d-flex align-items-center">
                    <a role="button" class="nav-link text-body font-weight-bold px-0" @onclick="BeginLogOut">Log out</a>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3 d-flex align-items-center">
                    <a class="nav-link text-body font-weight-bold px-0" href="authentication/register">Register</a>
                </li>
                <li class="nav-item px-3 d-flex align-items-center">
                    <a class="nav-link text-body font-weight-bold px-0" href="authentication/login">Log in</a>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</nav>
    
@code{

    private string? _userName;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var user = await Http.GetFromJsonAsync<UserModel>("api/User/current");
            _userName = user is not null ? $"{user?.FirstName} {user?.LastName}" : null;
        }
        catch (AccessTokenNotAvailableException) { }
    }
    
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}