@using TournamentManager.Common.Models
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
            <div class="sidebar-brand-icon rotate-n-15"></div>
            <div class="sidebar-brand-text mx-3"><span>Tournament<br>Manager</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><NavLink class="nav-link" ActiveClass="active" href="" Match="NavLinkMatch.All"><i class="fas fa-home"></i><span>Dashboard</span></NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" ActiveClass="active" href="Tournament/List"><i class="fas fa-flag-checkered"></i><span>Tournaments</span></NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" ActiveClass="active" href="Team/List"><i class="fas fa-user-friends"></i><span>Teams</span></NavLink></li>
            <li class="nav-item"><NavLink class="nav-link" ActiveClass="active" href="Profile/List"><i class="fas fa-user"></i><span>Profiles</span></NavLink></li>
            @if (_isAdmin)
            {
                <br class="my-2"/>
                <li class="nav-item"><NavLink class="nav-link" ActiveClass="active" href="Admin/Tournaments"><i class="fas fa-flag-checkered"></i><span>Manage Tournaments</span></NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" ActiveClass="active" href="Admin/Teams"><i class="fas fa-user-friends"></i><span>Manage Teams</span></NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" ActiveClass="active" href="Admin/Users"><i class="fas fa-user"></i><span>Manage Users</span></NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" ActiveClass="active" href="Admin/Sports"><i class="fas fa-user"></i><span>Manage Sports</span></NavLink></li>
            }
        </ul>
        <div class="text-center d-none d-md-inline">
            <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
    </div>
</nav>

@code
{
    private bool _isAdmin;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var user = await Http.GetFromJsonAsync<UserModel>("api/User/current");
            _isAdmin = user?.IsAdministrator ?? false;
        }
        catch (AccessTokenNotAvailableException) { }
    }
}
